
.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-custom {
    .owl-nav {
        button.owl-prev, button.owl-next {
            background: #d2af7e;
            color: #f2f2f2;
            font-family: 'FontAwesome';
            font-weight: 900;
            height: 46px;
            left: 0;
            margin-top: -23px;
            position: absolute;
            top: 50%;
            width: 23px;
        }

        button.owl-next {
            left: inherit;
            right: 0;
        }
    }
}
