.static-page {
  display: flex;
  .left {
    width: 230px;
    margin-right: 23px;
    .sidebar {
      padding: 10px;
      &__title {

      }
      &__content {
        ul {
          li {
            a {
              padding: 5px 0;
              display: block;
            }
          }
        }
      }
    }
  }
  .right {
    background: #fff;
    width: calc(100% - 251px);
    .breadcrumb {
      padding: 10px;
      border-bottom: 1px solid #f5f5f5;
      border-top: 1px solid #f5f5f5;
    }
    .content {
      padding: 10px;
      p {
        line-height: 24px;
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 767px) {
  .static-page {
    flex-direction: column;
    .left {
      width: 100%;
      margin-right: 0;
    }
    .right {
      width: 100%;
    }
  }
}