.blog-main {
  background-color: #fff;
  display: flex;
  padding: 15px;
  .left {
    width: 70%;
    padding-right: 20px;
  }
  .right {
    flex: 1;
    .title {
      border-bottom: 1px solid #eee;
      color: #888;
      display: block;
      font-size: 18px;
      line-height: 26px;
      padding-bottom: 6px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
  .post-detail_suggest {
    h3 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    ul {
            li {
                a {
                    display: inline-block;
                    padding: 5px 0;
                    span {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: #f4f4f4;
                        display: inline-block;
                        text-align: center;
                    }
                }
            }
        }
  }
}

@media (max-width: 767px) {
  .blog-main {
    padding: 10px;
    flex-direction: column;
    .left{
      width: 100%;
      padding-right: 0;
    }
    .right{

    }
  }
}

