.breadcrumb{
  padding: 10px 0;
  ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin-right: 7px;
      &:not(:last-child):after {
        content: "\f105";
        display: inline-block;
        font: normal normal normal 14px/1 'FontAwesome';
        font-weight: 900;
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }
}