.filter-sidebar {
    background: white;
    padding: 10px;
    margin: 15px 0;
  .item {
    &__title {
      border-bottom: 1px solid #f3f3f3;
      padding: 8px 5px;
      text-align: left;
      font-weight: 500;
      text-transform: uppercase;
    }
    .ratings {
        li {
            a {
                i {
                    font-size: 15px;
                    color: #d2d2d2;
                }
                i.active {
                    color: #faca51;
                }
            }
        }
    }
    &__content {
      border-bottom: 1px solid #f3f3f3;
      box-sizing: border-box;
      padding: 15px 5px;
      ul {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        li {
          font-size: 13px;
          margin-bottom: 8px;
          a {
            color: #757575;
            span {
                position: relative;
                padding-left: 25px;
                &:before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border:1px solid #a8a8a8;
                    border-radius: 4px;
                    left: 0;
                    bottom: 0;
                }
            }
          }
          &.active {
            a {
                color: #E91E63;     
                span {
                    font-weight: 500;
                    &:before {
                        border:1px solid #E91E63;
                    }
                    &:after {
                        transform: rotate(45deg) scale(1);
                        position: absolute;
                        border: 2px solid #E91E63;
                        border-top: 0;
                        border-left: 0;
                        content: " ";
                        width: 5px;
                        left: 5px;
                        top: 2px;
                        height: 8px;
                        -webkit-transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
                        -o-transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
                        transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
                    }
                }
            }
          }
          
        }
      }
    }
  }
}