.tab-content {
    border: 1px solid #f2f2f2;
    .tab-item-content {
        display: none;
        padding: 10px;
    }
    .tab-item-content.active {
        display: block;
    }
    .nav {
        display: flex;
        li {
            a {
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                padding: 5px 10px;
                color: #999;
            }
            a.active {
                color: #222;
                border-bottom: 2px solid #dc0021;
            }
        }
    }
}