.icon {
  background-size: 100%;
  display: inline-block
}

.icon-cart {
  background: url(/view/Css/icon/ico1.png) center no-repeat
}

.icon-phone {
  background: url(/view/Css/icon/ico2.png) center no-repeat
}

.icon-showroom {
  background: url(/view/Css/icon/ico3.png) center no-repeat
}

.icon-clock {
  background: url(/view/Css/icon/ico4.png) center no-repeat;
  height: 30px;
  width: 22px;
}

.icon-glasses {
  background: url(/view/Css/icon/ico5.png) center no-repeat;
  height: 18px;
  width: 42px;
}
.icon-aution {
  background: url(/view/Css/icon/ico6.png) center no-repeat;
  height: 27px;
  width: 27px;
}

.icon-accessories {
  background: url(/view/Css/icon/ico7.png) center no-repeat;
  height: 24px;
  width: 16px;
}

.icon-installment {
  background: url(/view/Css/icon/ico8.png) center no-repeat;
  height: 27px;
  width: 27px;
}

.icon-news {
  background: url(/view/Css/icon/ico9.png) center no-repeat;
  height: 22px;
  width: 16px;
}